<h1>Location#index</h1>
<!-- <p>Find me in app/views/location/index.html.erb</p> -->

<table>
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @surveys.each do |survey| %>
  <tr>
    <td class="address"><%= survey.address %></td>
    <td><%= survey.latitude %></td>
    <td><%= survey.longitude %></td>
    </tr>
<% end %>
</table>
